.movie-title {
  margin: 0;
  padding: 15px;
  background-color: #3a3535;
  color: white;
}

.description {
  width: 100%;
  margin-top: -5px;
  margin-bottom: -1px;
  /* display: inline; */
  vertical-align: top;
  background-color: #f2f2eb;
}
