.title {
  padding: 15px 5px;
  background-color: #3a3535;
  color: white;
  border-bottom: 1px solid black;
}

.genreList {
  background-color: #615c5c;
  color: white;
  margin-top: -5px;
  padding: 15px 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.genreList > * {
  display: inline;
  padding-left: 5px;
}

.description {
  background-color: #f2f2eb;
  padding: 0 5px;
  display: inline-block;
}

.containerDetail {
  overflow: hidden;
  height: auto;
  margin: auto;
  width: 50%;
  background-color: whitesmoke;
}

.backbtn {
  background-color: #c6c1c1d7;
  margin-left: 25%;
  margin-bottom: 5px;
  padding: 0px 18px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.backbtn:hover {
  background-color: #a19b9bd7;
}

/* originally going to use flexbox to organize */
/* .row {
  clear: both;
  box-sizing: border-box;
}
.col-lg-6 {
  text-align: left;
  float: right;
  margin: -15px 0;
  background-color: #3a3535;
  color: white;
}
.col-lg-4 {
  float: left;
}
@media screen and (min-width: 760px) {
  .col-lg-6 {
    width: 66.66%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

@media screen and (max-width: 760px) {
  .col-lg-6 {
    width: 100%;
  }
  .col-lg-4 {
    width: 100%;
  }
 } */
