body {
  background-color: #e1dcc1;
  margin: 0;
  padding: 25px;
  font-family: sans-serif;
}

ul,
li {
  list-style-type: none;
}

img {
  /* float: left; */
  display: inline-block;
  clear: both;
  min-height: 100%;
}

h4 {
  margin: 0;
}
